* {
	margin: 0;
	padding: 0;
  text-decoration: none;
  font-family: sans-serif;
}

body {
	margin: 0;
	/*overflow: hidden;*/
}

button {
	padding: 6px;
	padding-top: 6px;
	background: #D7E5E5;
	width: 15%;
}

#orbit {
	margin-left: 10px;
}

button img {
	width: 100%;
}


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.carousel-control span img {
    width: 30px;
    height: 30px;
    margin-top: 180%;
}

#ControlPanel{
    width: calc(100% - 20px);
    height: 50px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 6px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}




#ControlPanel a{
    border-radius: 2px;
    /*background-color: blue;*/
    color: white;
    padding: 9px;
    font-size: 12px;
    position: relative;
    float: left;
    margin: 6px 0px 6px 6px;

}
#ControlPanel div{
    border-radius: 2px;
    /* background-color: blue; */
    color: white;
    padding: 0px;
    font-size: 12px;
    position: relative;
    float: left;
    margin: 6px 0px 6px 6px;


}
.btn-holder{
    width:100px;
    background-color:rgba(255,255,255,0);
    border:0;
}


#Panel2{
    bottom: 152px;
    left: -12px;

}
#Panel2 a{
    border-radius: 2px;
    color: white;
    padding: 10px 8px 7px 8px;
    font-size: 12px;
    position: relative;
    float: left;
    margin: 5px 0px 5px 6px;
    width: 100px;
    height: 37px;

}



#Panel3{
    position: fixed;
    width: 48px;
    height: 145px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 25px;
    right: 10px;
    top:200px;
}

#Panel3-mobile {
    position: fixed;
    width: 48px;
    height: 98px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 25px;
    right: 10px;
    top:200px;
}

#Panel3-mobile button{
      border-radius: 18px;
      /*background-color: blue;*/
      color: white;
      padding: 9px 8px 7px 8px;
      font-size: 12px;
      position: relative;
      float: left;
      display: block;
      margin: 6px 0px 6px 6px;
      width: 36px;
      height: 36px;
}

#Panel3 button{
      border-radius: 18px;
      /*background-color: blue;*/
      color: white;
      padding: 9px 8px 7px 8px;
      font-size: 12px;
      position: relative;
      float: left;
      display: block;
      margin: 6px 0px 6px 6px;
      width: 36px;
      height: 36px;
}





#fullscreen {
    /*top: -290px;*/
}

@media  (max-width: 425px) {
    #ControlPanel{
      height: 34px;
    }
    #ControlPanel a{
      padding: 5px;
      margin: 4px 0px 4px 4px;
      font-size: 10px;

    }
    .btn-holder{
        width: 69px;
    }

    #Panel2{
      bottom: 121px;
      left: -14px;
    }
    #Panel2 a{
        border-radius: 2px;
    color: white;
    padding: 6px 8px 7px 8px;
    font-size: 9px;
    position: relative;
    float: left;
    margin: 5px 0px 5px 6px;
    width: 70px;
    height: 26px;
    }




}

@media  (max-height: 500px) {
    
    #Panel3{
        top: 100px;
    }



}
@media  (min-height:800px) {
    
    #Panel3{
        top: 400px;
    }



}


canvas {
    width: 100%;
    height: 100px;
    display: block;
}

.annotation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-left: 15px;
    margin-top: 15px;
    padding: 1em;
    width: 320px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    border-radius: .5em;
    font-size: 26px;
    line-height: 1.2;
    transition: opacity .5s;
    text-align: center;
    &::before {
        content: '1';
        position: absolute;
        top: -30px;
        left: -30px;
        width: 30px;
        height: 30px;
        border: 2px solid #fff;
        border-radius: 50%;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        background: rgba(0, 0, 0, 0.8);
    }
}

.annotation2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-left: 15px;
    margin-top: 15px;
    padding: 1em;
    width: 320px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    border-radius: .5em;
    font-size: 26px;
    line-height: 1.2;
    transition: opacity .5s;
    text-align: center;
    &::before {
        content: '1';
        position: absolute;
        top: -30px;
        left: -30px;
        width: 30px;
        height: 30px;
        border: 2px solid #fff;
        border-radius: 50%;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        background: rgba(0, 0, 0, 0.8);
    }
}

.annotation3 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-left: 15px;
    margin-top: 15px;
    padding: 1em;
    width: 320px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    border-radius: .5em;
    font-size: 26px;
    line-height: 1.2;
    transition: opacity .5s;
    text-align: center;
    &::before {
        content: '1';
        position: absolute;
        top: -30px;
        left: -30px;
        width: 30px;
        height: 30px;
        border: 2px solid #fff;
        border-radius: 50%;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        background: rgba(0, 0, 0, 0.8);
    }
}

.number {
    z-index: 1;
    content: '1';
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;

    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    
}


.number2 {
    z-index: 1;
    content: '1';
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;

    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    
}

.number3 {
    z-index: 1;
    content: '1';
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;

    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    
}

.circle {
  background-color: red;
}



.text {
  background-color: blue;
}



#number {
    position: absolute;
    z-index: -1;
    border-radius: 50%;
}


.loadingpage{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #efefef;
    /*display: block;change to none when loading finish*/
    /*transition: display 0.2s ease;*/
}
.loadingcolumn{
    position: relative;
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.loadingtext{
    width: 100%;
    height: 3%;

    margin-top: 49%;
    position: relative;
}
.loadingtext h3{
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #5bc0de;
}
.loadingbar{
    width: 100%;
    height: 0.5%;
    background-color: #ffffff;
    position: relative;
}
.loadingbarcolor{
    position: relative;
    width: 0%;
    height: 100%;
    background-color: #5bc0de;
    box-shadow: 0 8px 80px 0 rgba(19, 192, 222, 0.08)
}


/* embedded */

.container-canvas {
    margin: 0 auto;
    width: 200px;
}

canvas {
    /*border: 1px solid #333;*/
    background-color: #000;
}

.PanelsubA{
    left: 146px;
    width: 96px;
}
.PanelsubB{
    left: 228px;
    width: 96px;
}
.PanelsubC{
    left: 310px;
    width: 96px;
}


.btn-click{
    background-color: #2b9aba;
    border-color: #2b9aba;
    font-weight: 800;
}

.btn-360{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.btn-3D{
    position: absolute;
    float: right;
    right: 10px;
    bottom: 10px;

}
.icon2{
    width: 30px;
    height: 30px;
    /*background-color: red;*/
    float: left;
    position: relative;
    margin: 4px;
}

.btn-hide{
    width: 40px;
    height: 40px;
    border:none;
    background-image: url(../textures/icons/down.png);
    background-size:100%;
    position: fixed;
    opacity: 0.5;
    left: 15px;
    background-color: transparent;
}
.bottom70{
    bottom:70px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.bottom10{
    bottom:10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media  (max-width: 425px) {
    .btn-hide{
    width: 30px;
    height: 30px;

    left: 14px;
    background-color: transparent;
}
    .bottom70{
    bottom:50px;

}
.bottom10{
    bottom:10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-side{
    width: 38px;
height: 38px;
padding: 8px;
border-radius: 23px;
margin: 5px;
}
.btn-side img{
    width: 100%;
    height: 100%;
}
.center-btn{
position: absolute;
left: 20%;
right: 20%;

top: 45%;
text-align: center;
vertical-align: middle;
}
@media  (max-width: 370px) {
 h4{
    font-size: 14px;
 }
}

#iframe{
    scrolling: no;
}