.refresh-button {

	background: url("icon/refresh.png") 100% 100%/100% 100% no-repeat rgba(0,0,0,.35);
	background-color: #fff;
    /*border: 1px solid red;*/
    bottom: 0;
    cursor: pointer;
    min-width: 40px;
    min-height: 40px;
    padding-right: 5%;
    padding-top: 5%;
    position: absolute;
    right: 0;

    transition: background-color .05s ease;
    -webkit-transition: background-color .05s ease;
    z-index: 9999;

}

.top-right {
	position: absolute;
    top: 60px;
    right: 16px;
    
}