<div class="panels">

	<!-- SQUARE -->
				        <ul id="starks-panel" class="panel active">

							<div class="factory-info">
								<div class="factory-name">
									<div class="factory-type">
										<small>Prelease</small>
									</div>
									<h5>A1</h5>
								</div>
								<div class="factory-img">
									<img src="../src/img/square.jpg">
								</div>
								<div class="factory-content">
									<h6>
										Rent: Negotiable</br></br>
										Gross Leasable Area</br>
										7,173.00m<sup>2</sup>
									</h6>
								</div>
								<div class="factory-button">
									<a href="brochure_square.html" class="btn btn-info">View</a>
								</div>
							</div>

							<div class="factory-info">
								<div class="factory-name">
									<div class="factory-type">
										<small>Prelease</small>
									</div>
									<h5>A2</h5>
								</div>
								<div class="factory-img">
									<img src="../src/img/square.jpg">
								</div>
								<div class="factory-content">
									<h6>
										Rent: Negotiable</br></br>
										Gross Leasable Area</br>
										7,173.00m<sup>2</sup>
									</h6>
								</div>
								<div class="factory-button">
									<a href="brochure_square.html" class="btn btn-info">View</a>
								</div>
							</div>

							<div class="factory-info">
								<div class="factory-name">
									<div class="factory-type">
										<small>Prelease</small>
									</div>
									<h5>A3</h5>
								</div>
								<div class="factory-img">
									<img src="../src/img/square.jpg">
								</div>
								<div class="factory-content">
									<h6>
										Rent: Negotiable</br></br>
										Gross Leasable Area</br>
										7,173.00m<sup>2</sup>
									</h6>
								</div>
								<div class="factory-button">
									<a href="brochure_square.html" class="btn btn-info">View</a>
								</div>
							</div>

							<div class="factory-info">
								<div class="factory-name">
									<div class="factory-type">
										<small>Prelease</small>
									</div>
									<h5>A4</h5>
								</div>
								<div class="factory-img">
									<img src="../src/img/square.jpg">
								</div>
								<div class="factory-content">
									<h6>
										Rent: Negotiable</br></br>
										Gross Leasable Area</br>
										7,173.00m<sup>2</sup>
									</h6>
								</div>
								<div class="factory-button">
									<a href="brochure_square.html" class="btn btn-info">View</a>
								</div>
							</div>

							<div class="factory-info">
								<div class="factory-name">
									<div class="factory-type">
										<small>Prelease</small>
									</div>
									<h5>A5</h5>
								</div>
								<div class="factory-img">
									<img src="../src/img/square.jpg">
								</div>
								<div class="factory-content">
									<h6>
										Rent: Negotiable</br></br>
										Gross Leasable Area</br>
										7,173.00m<sup>2</sup>
									</h6>
								</div>
								<div class="factory-button">
									<a href="brochure_square.html" class="btn btn-info">View</a>
								</div>
							</div>

							<div class="factory-info">
								<div class="factory-name">
									<div class="factory-type">
										<small>Prelease</small>
									</div>
									<h5>A6</h5>
								</div>
								<div class="factory-img">
									<img src="../src/img/square.jpg">
								</div>
								<div class="factory-content">
									<h6>
										Rent: Negotiable</br></br>
										Gross Leasable Area</br>
										7,173.00m<sup>2</sup>
									</h6>
								</div>
								<div class="factory-button">
									<a href="brochure_square.html" class="btn btn-info">View</a>
								</div>
							</div>
				        </ul>
<!-- LONG -->

				        <ul id="lannisters-panel" class="panel">

							<div class="factory-info">
								<div class="factory-name">
									<div class="factory-type">
										<small>Prelease</small>
									</div>
									<h5>A7</h5>
								</div>
								<div class="factory-img">
									<img src="../src/img/long.jpg">
								</div>
								<div class="factory-content">
									<h6>
										Rent: Negotiable</br></br>
										Gross Leasable Area</br>
										7,044.00m<sup>2</sup>
									</h6>
								</div>
								<div class="factory-button">
									<a href="brochure_long.html" class="btn btn-info">View</a>
								</div>
							</div>
						</ul>
					</div>