.tab  {

      float: left;
      position: relative;
      z-index: 1000;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background: none;
      border: 2px solid #5bc0de;
      font-size: 12px;
      font-weight: normal;
      color: #7f8c8d;
      font-weight: 500;
      font-family: "Pinghei", "Helvetica Neue", Helvetica, Arial, sans-serif;
      padding: 0px;
      color: #5bc0de;
      display: block;
      margin: 10px auto 0 10px;
      border-radius: 30px;
      text-decoration: none;
      text-align: center;
      transition:0.25s;
    }

    ul{
      margin-top: 0px;
      padding: 0;
    }

    ul li {
      float: left;
      display: block;
      padding: 12px 5px;
    }

    ul li a{
      text-decoration: none;
  /*    margin: 30px 0px 30px 30px;*/
      color: #5bc0de;
    }

    .active{
      color: white;
      font-weight: bold;
      background-color: #5bc0de;
      border-radius: 30px;
      padding: 8px;
    }