@import url(https://fonts.googleapis.com/css?family=Lora);
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block
}
body{
    line-height:1
}
ol,ul{
    list-style:none
}
blockquote,q{
    quotes:none
}
blockquote:after,blockquote:before,q:after,q:before{
    content:none
}
table{
    border-collapse:collapse;
    border-spacing:0
}
button:focus,input:focus,select:focus,textarea:focus{
    outline:none
}
*,:after,:before{
    box-sizing:border-box
}
html{
    font-size:62.5%;
    -webkit-font-smoothing:antialiased
}
body,html{
    width:100%;
    height:100%
}
body{
    font-family:Lora,serif;
    font-size:1rem;
    background-color:#071625
}
.intro__inner{
    width:100%;
    margin:0 auto;
    max-width:100rem;
    padding-left:4rem;
    padding-right:4rem
}

.intro{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(7,22,37,.95);
    z-index:10005;
    -webkit-transition:opacity 2s ease-in,visibility 0s linear 2s;
    transition:opacity 2s ease-in,visibility 0s linear 2s;
    color:#fff;
    text-align:center;
    font-size:1em;
    overflow-y:scroll
}
.intro__inner{
    height:100%;
    min-height: 500px;
    display:-webkit-box;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    flex-direction:column;
    -webkit-box-align:center;
    align-items:center;
    -webkit-box-pack:center;
    justify-content:center
}
.intro__heading{
    font-size:1.6rem;
    margin-bottom:1rem;
    line-height:1.4
}
.intro__dek{
    font-size:1.1em;
    line-height:1.7;
    margin-bottom:1rem
}
.intro__icon{
    margin-bottom:1rem
}
.intro__icon img,.intro__icon svg{
    pointer-events:none;
    width:25em;
    height:15em
}
.intro.is-hidden{
    opacity:0;
    visibility:hidden
}

.button{
    cursor:pointer;
    border:0;
    background-color:#f70a53;
    color:#fff;
    padding: 10px 40px 10px 40px;
    font-size:1.3em;
    font-weight:500;
    border-radius:1px;
    font-family:Helvetica Neue,Helvetica,sans-serif;
    text-transform:uppercase;
    letter-spacing:.05em
    /*margin-bottom: 50px;*/
}
.button,button{
    -webkit-transition:all .1s ease-in-out;
    transition:all .1s ease-in-out
}
.button:active,button:active{
    -webkit-transform:scale(.95);
    transform:scale(.95)
}
.button__inner{
    height:100%
}
.button__section{
    height:100%;
    display:-webkit-box;
    display:flex;
    -webkit-box-align:center;
    align-items:center;
    -webkit-box-pack:center;
    justify-content:center
}
.button__section span:first-child{
    margin-right:2rem
}
.button__section span svg{
    fill:#fff;
    width:3rem;
    height:3rem
}
.button__section strong{
    font-weight:700
}

.refresh-button {

    background: url("refresh.png") 100% 100%/100% 100% no-repeat rgba(0,0,0,.35);
    background-color: #fff;
    /*border: 1px solid red;*/
    bottom: 0;
    cursor: pointer;
    min-width: 30px;
    min-height: 30px;
    padding-right: 5%;
    padding-top: 5%;
    position: absolute;
    right: 0;

    transition: background-color .05s ease;
    -webkit-transition: background-color .05s ease;
    z-index: 9999;
}

.info-button {

    background: url("img/info.png") 100% 100%/100% 100% no-repeat rgba(0,0,0,0);
    /*background-color: #fff;*/
    border: 0;
    bottom: 0;
    cursor: pointer;
    min-width: 30px;
    min-height: 30px;
    padding-right: 5%;
    padding-top: 5%;
    position: absolute;
    right: 0;

    transition: background-color .05s ease;
    -webkit-transition: background-color .05s ease;
    z-index: 9999;
}

.top-right {
    position: absolute;
    top: 50px;
    right: 16px;
    
}

.top-right-refresh {
    position: absolute;
    top: 50px;
    right: 56px;
    
}

/*@media only screen and (min-width: 600px ){
    .intro__dek {
    font-size: 1.6em;
    line-height: 1.9;
    margin-bottom: 1rem;
    }
    .intro__heading {
    font-size: 2.6rem;
    margin-bottom: 1rem;
    line-height: 1.9;
    }
    .button {

    font-size: 1.6em;
    
    }
}*/


.qr-code {

height: 190px;
width: 190px;
margin-top: 40px;

}










