      body{
        background: #eeeeee;
      }
      .tab_content{
        width: 100%;
      }
      .margintop20{
        margin-top: 20px;
      }
      .margintop55{
        margin-top: 55px;
      }
      .collection .collection-item.avatar:not(.circle-clipper)>.thumbpic{
        position: absolute;
        width: 180px;
        height: 160px;
        overflow: hidden;
        left: 15px;
        display: inline-block;
        vertical-align: middle;
        border-radius: 4px;
      }
      .title{
        padding-top: 20px;

      }
      .brand-logo img{
        height: 40px;
        width: 40px;
        margin: 10px;
      }
      .logo_text{
        margin-left: 70px;
        font-size: 20px;
      }
      @media only screen and (min-width: 613px ) and ( max-width: 777px) {
        li .margintop55 {
            margin-top: 110px;
        }
      }
      @media only screen and (max-width: 613px) and (min-width:428px ){
        .collection .collection-item.avatar{
          height: 230px;
        }
        li .margintop55 {
          margin-top: 163px;
        }
      }
      @media only screen and (max-width: 428px) {
        .collection .collection-item.avatar{
          min-height: 176px;
          height: 176px;
          padding-left: 136px;
        }
        li .margintop55 {
          margin-top: 108px;
        }
        .collection .collection-item.avatar:not(.circle-clipper)>.thumbpic{
          width: 108px;
          height: 96px;
        }
      }
      @media only screen and (max-width: 992px){
        .logo_text{
          display: none;
        }
      }